header.hero {
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

header > video {
  padding-left: 30px;
  width: 100%;
}

main {
  padding: 15px !important;
}

article > h2 {
  margin-bottom: 10px;
}

footer > button {
  margin-bottom: 0;
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 
  header.hero {
    flex-direction: column;
    text-align: center;
    padding: 30px 0 0;
  }
  header > video {
    padding-left: 0px;
  }
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { 

}

/* X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) { 

}

@font-face {
  font-family: 'Open Sauce';
  src: url('https://assets.website-files.com/5fcf9ac604d37418aa70a5ab/5fd0d6acb4e458d2aff55df0_OpenSauceOne-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Open Sauce';
  src: url('https://assets.website-files.com/5fcf9ac604d37418aa70a5ab/5fd0d6ac8835243525c7f1bb_OpenSauceOne-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Open Sauce';
  src: url('https://assets.website-files.com/5fcf9ac604d37418aa70a5ab/5fd0d6ac422fa9d2d22674fc_OpenSauceOne-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Open Sauce';
  src: url('https://assets.website-files.com/5fcf9ac604d37418aa70a5ab/5fd0d6ac8c0198b357c748c4_OpenSauceOne-Bold.ttf') format('truetype'), url('https://assets.website-files.com/5fcf9ac604d37418aa70a5ab/5fd0d6ac502728ef66b430f0_OpenSauceOne-ExtraBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
body, h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sauce';
}
h1 {
  font-weight: 700;
}
header > div > h2 {
  font-weight: 300;
}
article > h2 {
  font-weight: 500;
}
article > h6 {
  font-weight: 300;
  margin-bottom: calc(1.7 * var(--typography-spacing-vertical));
}
p {
  font-weight: 400;
}
article > h6 {
  font-weight: 300;
  margin-bottom: calc(1.7 * var(--typography-spacing-vertical));
}